  <h1>Busted</h1>

  <div class="row">
    <div class="col-md-8">
      <img src="http://lorempixel.com/800/400/" alt="pic of paul" />
      <h1>Paul - in the news</h1>
    </div>
    <div class="col-md-4">
      <img src="http://lorempixel.com/400/400/" alt="pic of enrique" />
      <h1>Enrique - in the news</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img src="http://lorempixel.com/400/190/" alt="pic of paul" />
      <h1> Famous people- in the news</h1>
    </div>
    <div class="col-md-4">
      <img src="http://lorempixel.com/400/190/" alt="pic of paul" />
      <h1>Maine - in the news</h1>
    </div>
    <div class="col-md-4">
      <img src="http://lorempixel.com/300/190/" alt="pic of paul" />
      <h1>News - in the news</h1>
    </div>
  </div>
